:root{
    --main-color:#191919;
    --text-color:#25221b;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(219, 215, 215);
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Andada Pro', serif;
}
header{
    width: 100%;
    height: 70px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
}
header #logo{
    margin: 10px;
    margin-left: 10%;
    width: 200px;
    color:gray;
}
header nav{
    margin: 10px;
    margin-right: 10%;
    width: 500px;
}
header #menuMovil{
    display: none;
}
header nav ul li{
    float: left;
    list-style: none;
    margin-left: 30px;
    margin-top: 5px;
    padding: 5px;
    transition: 0.5s;
}
header nav ul li a{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}
header nav ul li:hover{
    opacity: 0.8;
    background-color: white;
}
header nav ul li a:hover{
    color: var(--main-color);
}
section#main{
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#main video{
    min-width: 100%;
    min-height: 100%;
}
#main #overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}
#main #overlay h2{
    margin-top: 230px;
    color: white;
    text-align: center;
    font-size: 3rem;
}
#main #overlay h3{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}
.btn{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
    font-weight: lighter;
}
.btnPrimary, .btnPro, .btnEnviar{
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}
a.btn{
    text-decoration: none;
    color: white;
}
#about, #contacto{
    width: 80%;
    height: 600px;
    padding-left: 10%;
    padding-right: 10px;
}
#about .col, #contacto .col{
    float: left;
    width: 50%;
    text-align: justify;
}
#about > h2{
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
#about > .col > h2{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 80px;
}
#about .col img{
    width: 80%;
    display: block;
    margin: 65px auto;
}
#about .col p{
    margin-top: 10px;
}
#proyectos{
    width: 100%;
    height: 400px;
}
#proyectos .pro:nth-child(2), #proyectos h2{
    margin-left: 10%;
}
#proyectos .pro{
    width: 18%;
    height: 80%;
    float: left;
    margin-left: 2%;
    margin-top: 40px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}
#proyectos .pro img{
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#proyectos .pro h3{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin-top: 5%;
}
#proyectos .pro small{
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin-top: 2%;
}
fieldset{
    border-style: none;
}
legend{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}
#contacto .campos{
    padding: 10px;
}
#contacto .campos input{
    width: 81%;
    height: 30px;
}
#sep, #sep2{
    width: 100%;
    height: 80px;
    background-color:rgb(219, 215, 215);
}
#con{
    width: 100%;
    height: 300px;
    opacity: 0.8;
}
#con img{
    width: 100%;
    height: 100%;
}
#con h2{
    color: white;
    font-size: 3rem;
    text-align: center;
    position:absolute;
    margin-top: 100px;
    margin-left: 160px;
}
footer{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 2em;
}
