:root{
    --main-color:white;
    --text1-color:#004C40;
    --text2-color:white;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#004C40;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Andada Pro', serif;
}
header{
    width: 100%;
    height: 70px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
}
header #logo{
    margin: 5px;
    margin-left: 10%;
}
header #logo img{
    width: 35%;
}
header nav{
    margin: 10px;
    margin-right: 10%;
    width: 500px;
}
header nav ul li{
    float: left;
    list-style: none;
    margin-left: 30px;
    margin-top: 10px;
    padding: 5px;
    transition: 0.5s;
}
header nav ul li a{
    font-size: 1rem;
    text-decoration: none;
    color: var(--text1-color);
    font-weight: bolder;
}
header nav ul li:hover{
    opacity: 0.6;
}
header nav ul li a:hover{
    color: var(--text1-color);
}
section#main{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#main #prin{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #004c40;
    top: 0;
    left: 0;
    opacity: 0.8;
}
#main #prin h2{
    margin-top: 7%;
    color: white;
    text-align: center;
    font-size: 3rem;
}
.btn{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
}
.btnPrin{
    background-color: var(--main-color);
    color:var(--text1-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    position: relative;
    top: 380px;
}
#info{
    width: 100%;
    height: 600px;
    background-color:whitesmoke;
}
#info .col{
    float: left;
    width: 50%;
    text-align: center;
}
#info > h2{
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
#info > .col > h2{
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 170px;
    margin-right: 23%;
    color: var(--text1-color);
    font-weight: bolder;
}
#info .col img, #contacto .col img{
    width: 85%;
    display: block;
    margin-left: 15%;
}
#info .col p{
    margin-top: 20px;
    margin-right: 20%;
    color: var(--text1-color);
    font-size: 1.3rem;
    font-family: 'Andada Pro', serif;
}
section#ofrecemos{
    height: 100vh;
    width: 100%;
    position: relative;
    display: inline-block;
}
#ofrecemos .prop{
    position: absolute;
    top: 10px;
    left: 10px;
}
#ofrecemos .prop img{
    width: 100%;
    height: auto;
    opacity: 0.6;
}
#ofrecemos .prop h2{
    font-size: 2rem;
    color: var(--text1-color);
    padding-top: 120px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 17%;
}
#ofrecemos .prop p{
    width: 40%;
    text-align: center;
    margin-top: 20px;
    margin-left: 8%;
    color: var(--text1-color);
    font-size: 1.3rem;
    font-family: 'Andada Pro', serif;
}
fieldset{
    border-style: none;
}
legend{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}
#contacto{
    width: 100%;
    height: 600px;
    margin-top: 50px;
    background-color:whitesmoke;
}
#contacto .col{
    float: left;
    width: 50%;
    margin-top: 110px;
}
#contacto .campos{
    padding: 10px;
}
#contacto .campos input{
    width: 75%;
    height: 30px;
}
#contacto .campos textarea{
    width: 75%;
    height: 90px;
}
.btnEnviar{
    background-color: var(--text1-color);
    color:var(--text2-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
}
#contacto .col img{
    width: 65%;
    display: block;
    margin-left: 22%;
}
footer{
    width: 100%;
    height: 50px;
    background-color:var(--text1-color);
    text-align: center;
    color:var(--text2-color);
    padding-top: 2em;
}
